*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	margin-top: 1%;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgb(117,166,96) , rgb(138, 85, 224));
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: white;
}
.location{
	height: 40vh;
	width:  70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.temperature{
	height: 10vh;
	width:  70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.daily{
	width: 80%;
	margin-left: 5%;
	margin-top: 4%;
	
	align-items: center;
}
.degree{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.span_main{
	font-size: 30px;
	margin:  10px;
}
.degree h2{
	font-size: 40px;
}
.temperature-description{
	margin: 0;
	padding: 0;

}
#icon_span{
		font-size: 20px;

}